body {
    font-family: 'EB Garamond', serif;
}

header {
    text-align: center;
}

header h1 {
    font-size: clamp(20px, 4vw, 60px);
    letter-spacing: clamp(4px, 1vw, 10px);
}

header a:link {
    color: black;
    text-decoration: none;
}

header a:visited {
    color: black;
    text-decoration: none;
}

header a:hover {
    color: #6667AB;
    text-decoration: underline;
}

nav {
    font-size: clamp(8px, 1.5vw, 20px);
    text-align: center;
    word-spacing: 5vw;
}

nav a:link {
    color: black;
    text-decoration: none;
}

nav a:visited {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #6667AB;
    text-decoration: underline;
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 1536px;
}

section h2 a:link {
    color: #6667AB;
    text-decoration: none;
}

section h2 a:visited {
    color: #6667AB;
    text-decoration: none;
}

section h2 a:hover {
    color: #6667AB;
    text-decoration: underline;
}

section img {
    max-width: 100%;
}

section h2 {
    font-size: clamp(12px, 2vw, 28px);
    color: #6667AB;
}

section p {
    font-size: clamp(8px, 1.5vw, 20px);
}